In [1]:
import pandas as pd

In [26]:
imdb_crew = pd.read_csv('data/zippedData/imdb.title.crew.csv.gz')
imdb_crew

           tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]

In [27]:
imdb_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     146144 non-null  object
 1   directors  140417 non-null  object
 2   writers    110261 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

In [28]:
imdb_crew.isna().sum()

tconst           0
directors     5727
writers      35883
dtype: int64

In [29]:
imdb_directors = imdb_crew.copy(deep=True)
imdb_directors.dropna(subset=['directors', 'writers'], inplace=True)

In [30]:
imdb_directors

           tconst                      directors                writers
0       tt0285252                      nm0899854              nm0899854
2       tt0462036                      nm1940585              nm1940585
3       tt0835418                      nm0151540    nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011              nm0284943
6       tt0996958                      nm2286991    nm2286991,nm2651190
...           ...                            ...                    ...
146137  tt8998302                     nm10121510             nm10121510
146138  tt8999892                     nm10122247  nm10122247,nm10122246
146139  tt8999974                     nm10122357             nm10122357
146140  tt9001390                      nm6711477              nm6711477
146142  tt9004986                      nm4993825              nm4993825

[109008 rows x 3 columns]

In [31]:
imdb_directors.duplicated().sum()

0

In [32]:
imdb_ratings = pd.read_csv('data/zippedData/imdb.title.ratings.csv.gz')
imdb_ratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [33]:
imdb_ratings.isna().sum()

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [34]:
imdb_ratings.duplicated().sum()

0

In [35]:
imdb_direct_ratings = imdb_ratings.copy(deep=True)
imdb_direct_ratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [36]:
imdb_direct_ratings = pd.merge(imdb_direct_ratings, imdb_directors, on='tconst' )
imdb_direct_ratings.drop(['tconst', 'writers_x', 'writers_y', 'numvotes', 'tconst', 'writers',
                         'directors_x', 'directors_y'], axis=1, inplace=True)

KeyError: "['writers_x' 'writers_y' 'directors_x' 'directors_y'] not found in axis"

In [37]:
imdb_direct_ratings

,tconst,averagerating,numvotes,directors,writers
0,tt10356526,8.3,31,nm8353804,"nm3057599,nm4179342"
1,tt1042974,6.4,20,nm1915232,nm1915232
2,tt1043726,4.2,50352,nm0001317,"nm0393517,nm0316417,nm0001317,nm1048866"
3,tt1060240,6.5,21,nm1926349,nm1926349
4,tt1069246,6.2,326,nm0868643,"nm2726004,nm0140502,nm1523568,nm0868643"
...,...,...,...,...,...
63083,tt9668598,5.5,317,"nm10430002,nm10430001","nm10430001,nm10430015"
63084,tt9690762,5.6,37,nm4070848,"nm5332494,nm10440402"
63085,tt9708284,4.9,19,nm2203315,"nm2628394,nm2203315"
63086,tt9722952,7.0,6,nm7241614,nm7620676
63087,tt9844256,7.5,24,nm0849465,"nm0849465,nm1287521"