![example](images/director_shot.jpeg)

# Helping Microsoft take over the film industry.

**Authors:** Le Truong
***

## Overview

Microsoft is one of the world's longstanding leaders in technology. Aside from corporate sponsorships and Windows Media Player, they have remained silent and distant from the film industry. **This is all about to change!** Microsoft has recently teamed up with Flatiron School to help them identify what variable they need to focus on to produce a successful movie. There are many factors that determine a film's successes. In this presentation, I will focus on three variables that correlate with ratings to help point Microsoft in the right direction.

## Data Understanding

Describe the data being used for this project.
- This data used for this presented was provided by Flatiron and contains IMDB ratings, genres, and runtimes.

# Questions to be Answered

- Does a movie's runtime impact it's ratings? 
- Are there specific genres?
- Is there a correlation between a large production budget and higher ratings?

## **First Question**: Do longer movies(<=300 minutes) have lower ratings than shorter movies?

In [10]:
cur.execute("""SELECT movie, production_budget, domestic_gross, worldwide_gross 
                FROM tn_movie_budgets tmb
                JOIN imdb_title_basics itb
                ON itb.idx = tmb.idx;""")
df = pd.DataFrame(cur.fetchall())
df.head()

OperationalError: near "itb": syntax error

## **Second Question**: Are there specific genres that get higher ratings?

In [18]:
cur.execute("""SELECT * from tn_movie_budgets;""")
df = pd.DataFrame(cur.fetchall())
df.head()

,0,1,2,3,4,5,6
0,0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [11]:
cur.execute("""SELECT * FROM tn_movie_budgets tmb
                JOIN imdb_title_basics itb
                ON tmb.idx = itb.idx
                GROUP BY genres;""")
df = pd.DataFrame(cur.fetchall())
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,None
1,56,57,"Jun 24, 2011",Cars 2,"$200,000,000","$191,450,875","$560,155,383",56,tt0364201,Aman Ke Farishtey,Aman Ke Farishtey,2016,137.0,Action
2,1238,39,"Nov 27, 2002",Solaris,"$47,000,000","$14,970,038","$14,970,038",1238,tt10097958,Gripped: Climbing Killer Pillar,Gripped: Climbing Killer Pillar,2019,NaN,"Action,Adventure"
3,126,27,"May 21, 2010",Shrek Forever After,"$165,000,000","$238,736,787","$756,244,673",126,tt0448694,Puss in Boots,Puss in Boots,2011,90.0,"Action,Adventure,Animation"
4,125,26,"May 27, 2016",Alice Through the Looking Glass,"$170,000,000","$77,042,381","$276,928,112",125,tt0448115,Shazam!,Shazam!,2019,132.0,"Action,Adventure,Comedy"

## Third Question: How will product budgets impact ratings?

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [6]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.
- There are no correlation between movie's runtime and its ratings.
- There are specific genre's commonly rated higher than others.
- There is no correlation between a movie's production budget and its ratings.

## What's next? How can we use this data in the future? 

Questions to consider:

* Is there too much data?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***