In [2]:
import pandas as pd

# Isolating Movie Budget

In [8]:
budget = pd.read_csv('data/movie_profit.csv')
productbudget = budget.copy(deep=True)
productbudget

,primary_title,production_budget,domestic_gross,worldwide_gross
0,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...
5777,Red 11,"$7,000",$0,$0
5778,Following,"$6,000","$48,482","$240,495"
5779,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,A Plague So Pleasant,"$1,400",$0,$0
5781,My Date With Drew,"$1,100","$181,041","$181,041"

# Isolating Movie Ratings

In [15]:
ratings = pd.read_csv('data/genre_rating.csv')
movieratings = ratings.copy(deep=True)
movieratings.drop(['start_year', 'runtime_minutes', 'numvotes'], axis=1, inplace=True)
movieratings

                          primary_title       genres  averagerating
0                             Sunghursh       Action            7.0
1                             Sunghursh        Crime            7.0
2                             Sunghursh        Drama            7.0
3       One Day Before the Rainy Season    Biography            7.2
4       One Day Before the Rainy Season        Drama            7.2
...                                 ...          ...            ...
118432                     Swarm Season  Documentary            6.2
118433                 Diabolik sono io  Documentary            6.2
118434                Sokagin Çocuklari        Drama            8.7
118435                Sokagin Çocuklari       Family            8.7
118436                       Drømmeland  Documentary            6.5

[118437 rows x 3 columns]

# MERGING BUDGET AND RATINGS

In [19]:
PR = pd.merge(movieratings, productbudget, on='primary_title')
PR

,primary_title,genres,averagerating,production_budget,domestic_gross,worldwide_gross
0,Foodfight!,Action,1.9,"$45,000,000",$0,"$73,706"
1,Foodfight!,Animation,1.9,"$45,000,000",$0,"$73,706"
2,Foodfight!,Comedy,1.9,"$45,000,000",$0,"$73,706"
3,On the Road,Adventure,6.1,"$25,000,000","$720,828","$9,313,302"
4,On the Road,Drama,6.1,"$25,000,000","$720,828","$9,313,302"
...,...,...,...,...,...,...
6288,Virus,Drama,8.6,"$75,000,000","$14,010,690","$30,626,690"
6289,Virus,Thriller,8.6,"$75,000,000","$14,010,690","$30,626,690"
6290,Push,Documentary,7.3,"$38,000,000","$31,811,527","$49,678,401"
6291,Unplanned,Biography,6.3,"$6,000,000","$18,107,621","$18,107,621"
6292,Unplanned,Drama,6.3,"$6,000,000","$18,107,621","$18,107,621"

In [21]:
PR.duplicated().sum()
PR = PR.drop_duplicates()

In [22]:
PR

,primary_title,genres,averagerating,production_budget,domestic_gross,worldwide_gross
0,Foodfight!,Action,1.9,"$45,000,000",$0,"$73,706"
1,Foodfight!,Animation,1.9,"$45,000,000",$0,"$73,706"
2,Foodfight!,Comedy,1.9,"$45,000,000",$0,"$73,706"
3,On the Road,Adventure,6.1,"$25,000,000","$720,828","$9,313,302"
4,On the Road,Drama,6.1,"$25,000,000","$720,828","$9,313,302"
...,...,...,...,...,...,...
6288,Virus,Drama,8.6,"$75,000,000","$14,010,690","$30,626,690"
6289,Virus,Thriller,8.6,"$75,000,000","$14,010,690","$30,626,690"
6290,Push,Documentary,7.3,"$38,000,000","$31,811,527","$49,678,401"
6291,Unplanned,Biography,6.3,"$6,000,000","$18,107,621","$18,107,621"
6292,Unplanned,Drama,6.3,"$6,000,000","$18,107,621","$18,107,621"